details {
  border: 0px solid #aaa;
  border-radius: 0px;
  padding: 0;
}

summary {
  margin: 0;
  padding: 0;
}

.summary-contents {
  border: 0px solid #dddddd;
}

summary:hover {
  opacity: 60%;
  cursor: pointer;
}

details[open] {
  padding: 0;
}

details[open] summary {
  border-bottom: 0px solid #aaa;
  margin-bottom: 0;
}

.details-contents {
  height: auto;
  margin: 0px;
  position: absolute;
  bottom: 0;
}

.anawatch {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  background-color: var(--bgColor);
}
.anaclock {
  width: 80vmin;
  height: 80vmin;
  border: 5px solid var(--bgColor);
  border-radius: 50%;
  position: relative;
  background-color: var(--bgColor);
  color: var(--mainColor);
}
.ananumber {
  position: absolute;
  font-size: 5vmin;
  font-family: inherit;
  font-weight: inherit;
  transform: translate(-50%, -50%);
}
.hand {
  position: absolute;
  bottom: 50%;
  left: 50%;
  transform-origin: bottom;
  background-color: var(--mainColor);
}
.anahour {
  width: 1.5vmin;
  height: 20vmin;
  border-radius: 0.75vmin;
}
.anaminute {
  width: 1vmin;
  height: 25vmin;
  border-radius: 0.5vmin;
}
.anasecond {
  width: 0.5vmin;
  height: 27vmin;
  border-radius: 0.25vmin;
  background-color: var(--mainColor);
}
.anatick {
  position: absolute;
  width: 0.5vmin;
  height: 0.5vmin;
  background-color: var(--mainColor);
  transform-origin: center bottom;
  border-radius: 100%;
}

.scroll {
  overflow: scroll;
  width: 100%;
  padding: 2px;
  box-shadow: 0px 0px 3px 1px
    color-mix(in srgb, var(--bgColor) 90%, var(--mainColor) 60%) inset;
  border-radius: 0.4rem;
  height: 3rem;
}

#forurl:hover {
  text-decoration: none;
}

.fontlabel {
  color: var(--bgColor);
  background-color: var(--mainColor);
  padding: 0.5rem;
  margin: 0.2rem;
  border-radius: 1.4rem;
  font-size: 0.8rem;
  font-family: inherit;
  border-color: var(--bgColor);
  border: none;
  opacity: 100%;
  filter: saturate(70%);
  width: auto;
  min-width: 70px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
  display: block;
  text-align: center;
  justify-content: start;
}

.fontlabel:hover {
  opacity: 60%;
}

html:has(#cursive:checked) {
  font-family: "Noto Sans", sans-serif;
  font-weight: 900;
}

html:has(#notosans:checked) {
  font-family: "Noto Sans", sans-serif;
}

html:has(#verdana:checked) {
  font-family: "Verdana";
}

html:has(#googlesans:checked) {
  font-family: "Google Sans";
}

html:has(#roboto:checked) {
  font-family: "Roboto";
}

html:has(#serif:checked) {
  font-family: "Zen Old Mincho", serif;
}

html:has(#jersey:checked) {
  font-family: "Jersey 10 Charted", serif;
}

html:has(#italic:checked) {
  font-style: italic;
}

html:has(#gray:checked) {
  filter: grayscale(100%);
}

html:has(#revc:checked) {
  filter: invert(100%);
}

html:has(#contrast:checked) {
  filter: contrast(250%);
}

html:has(#rotate:checked) {
  filter: hue-rotate(90deg);
}

html:has(#sepia:checked) {
  filter: sepia(60%);
}

html:has(#saturate:checked) {
  filter: saturate(30%);
}

html:has(#blur:checked) {
  filter: blur(5px);
}

html:has(#shadow:checked) {
  filter: drop-shadow(3px 3px 1px #999);
}

html:has(#bright:checked) {
  filter: brightness(1.7);
}

.svg-settings {
  height: 1.5rem;
  z-index: 100;
  position: sticky;
  top: 0;
  height: 30px;
  text-align: center;
  float: center;
  order: -1;
  vertical-align: middle;
}

.dropdown__body {
  display: none;
  width: 80vw;
  max-width: 400px;
  background-color: color-mix(
    in srgb,
    var(--bgColor) 90%,
    var(--mainColor) 30%
  );
  box-shadow: 1px 2px 10px -3px var(--mainColor);
  border-radius: 1rem;
  overflow: scroll;
  position: absolute;
  top: 13px;
  right: 3vw;
  height: 90vh;
  max-height: 440px;
}

.tab_class {
  overflow: hidden;
  opacity: 30%;
  background-color: var(--bgColor);
  position: sticky;
  top: 0;
  width: calc(100% / 3);
  height: 3rem;
  line-height: 3rem;
  font-size: 1rem;
  text-align: center;
  display: block;
  float: left;
  order: -1;
  z-index: 5;
  cursor: pointer;
}

.ten {
  cursor: pointer;
  position: absolute;
  height: 3rem;
  right: 0.01rem;
  top: 0px;
}

.dropdown__btn {
  position: absolute;
  margin-left: auto;
  margin-right: 0px;
  z-index: 98;
  display: block;
  background: none;
  color: var(--mainColor);
  border: 0;
  right: 0px;
  height: 42px;
  font-size: 2rem;
  opacity: 70%;
  cursor: pointer;
}

.WATday {
  padding-top: 0;
  margin: auto;
  width: auto;
  font-size: 8vw;
  cursor: pointer;
}

/* 最大アスペクト比 */
@media (max-aspect-ratio: 0.67) {
  html {
    font-size: 4vw;
  }

  .WATday {
    padding-top: 0.3rem;
    margin: auto;
    width: auto;
    font-size: 8vw;
    cursor: pointer;
  }

  .svg-settings {
    height: 3rem;
    z-index: 100;
    position: sticky;
    top: 0;
    text-align: center;
    float: center;
    order: -1;
    vertical-align: middle;
  }

  .dropdown__body {
    display: none;
    width: 96vw;
    max-width: 10000px;
    background-color: color-mix(
      in srgb,
      var(--bgColor) 90%,
      var(--mainColor) 30%
    );
    box-shadow: 1px 2px 10px 0px var(--mainColor);
    border-radius: 1rem;
    overflow: scroll;
    position: absolute;
    top: 1rem;
    right: 2vw;
    height: 90vh;
    max-height: calc(80vh - 50px);
    z-index: 97;
  }

  .tab_class {
    opacity: 30%;
    background-color: var(--bgColor);
    position: relative;
    top: calc(100svh - 5.5rem);
    width: calc(100vw / 3 - 0.3rem);
    align-content: center;
    height: 3rem;
    line-height: 3rem;
    text-align: center;
    display: block;
    overflow: hidden;
    white-space: nowrap;
    float: left;
    order: -1;
    z-index: 5;
    border: 0rem solid;
    margin: auto;
    border-radius: 1rem;
    padding: none;
  }

  .dropdown__btn {
    position: absolute;
    margin-left: auto;
    margin-right: 2vw;
    z-index: 98;
    display: block;
    background: none;
    color: var(--mainColor);
    border: 0;
    right: 0.5rem;
    font-size: 3rem;
    opacity: 35%;
    top: 0.5rem;
  }

  .suma {
    display: none;
  }
}

/* 正確なアスペクト比。上書きを防ぐために最下部に配置 */
/*   to here */
.toggle-button {
  margin: 0.33rem;
  vertical-align: middle;
  display: inline-block;
  position: relative;
  width: 3.2rem;
  height: 1.6rem;
  border-radius: 1.6rem;
  background-color: #dddddd;
  cursor: pointer;
  transition: background-color 0.4s;
}

.toggle-button:has(:checked) {
  background-color: #4bd865;
}

.toggle-button::after {
  vertical-align: middle;
  position: absolute;
  top: 0;
  left: 0;
  width: 1.6rem;
  height: 1.6rem;
  border-radius: 50%;
  box-shadow: 0 0 5px rgb(9 9 9 / 20%);
  background-color: #fff;
  content: "";
  transition: left 0.4s;
}

.toggle-button:has(:checked)::after {
  left: 1.6rem;
}

.toggle-button input {
  display: none;
}

.toggle-button:hover {
  scale: 1.02;
}

.yohaku {
  margin: 0.7rem;
  text-align: right;
}

.midashi {
  margin: 0.7rem;
  text-align: left;
  padding-bottom: 0.5rem;
  border-bottom: 0.05rem solid
    color-mix(in srgb, var(--bgColor) 90%, var(--mainColor) 30%);
  border-radius: 0.1rem;
}

.midashi-nodeco {
  margin: 0.7rem;
  text-align: left;
}

.bargroup {
  margin: 0.8rem;
}

.dropdown__btn:hover {
  opacity: 100%;
}

.dropdown__btn.is-open::after {
  content: "";
  width: 100%;
  height: 100%;
  cursor: default;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 98;
  filter: blur(0rem);
  background-color: color-mix(in srgb, var(--bgColor) 60%, #eeeeee 8%);
}

.dropdown__btn.is-open {
  opacity: 50%;
}

.dropdown__btn.is-open + .dropdown__body {
  display: block;
  z-index: 99;
}

.dropdown__list {
  margin: 0;
  padding: 0;
  z-index: 99;
}

.dropdown__item {
  display: block;
  border-bottom: 0px solid var(--bgColor);
}

.dropdown__item_noborder {
  display: block;
  border-bottom: 0px solid var(--bgColor);
}

li:hover {
  filter: brightness(100%);
}

li {
  list-style: none;
}

ul {
  padding-left: 0;
}

.WATday:hover {
  opacity: 60%;
}

.area > input:checked + label {
  font-weight: 900;
}

* {
  margin: 0;
  padding: 0;
  line-height: 1.3;
  -webkit-tap-highlight-color: transparent;
}

.inside {
  padding: 0 0px 0 0px;
  font-size: 0.8rem;
  color: var(--mainColor);
}

.area {
  width: 100vw;
  margin: auto;
  flex-wrap: wrap;
  display: flex;
  background-color: var(--bgColor);
}

.takami {
  height: 100svh;
  background-color: var(--bgColor);
}

.tab_class:hover {
  opacity: 100%;
}

input[name="tab_name"] {
  display: none;
}

.content_class {
  position: relative;
  top: 1vmin;
  display: none;
  width: 100%;
}

input:checked + .tab_class + .content_class {
  display: block;
}

input:checked + .tab_class {
  opacity: 100%;
}

input:checked + .tab_class:hover {
  opacity: 70%;
}

html {
  touch-action: manipulation;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
  font-family: "Noto Sans", sans-serif;
  overflow: hidden;
}

#buttons {
  text-align: center;
}

.button-sousyoku {
  color: var(--bgColor);
  background-color: var(--mainColor);
  padding: 0.5rem;
  margin: 0.2rem;
  border-radius: 1.4rem;
  font-size: 0.8rem;
  font-family: inherit;
  font-weight: inherit;
  border-color: var(--bgColor);
  border: none;
  opacity: 100%;
  filter: saturate(70%);
  cursor: pointer;
}

.button-sousyoku:hover {
  opacity: 60%;
}

.button-sousyoku-pa:hover {
  opacity: 60%;
}

.button-sousyoku-pa {
  background-color: var(--bgColor);
  padding: 0.3rem;
  margin: 0.3rem;
  border-radius: 2rem;
  border: 0.15rem solid var(--mainColor);
  opacity: 80%;
  cursor: pointer;
  width: 3rem;
  font-family: inherit;
  height: 2rem;
}

.button-sousyoku:active {
  opacity: 100%;
}

.button-select {
  color: var(--mainColor);
  font-family: inherit;
  font-weight: inherit;
  background-color: var(--bgColor);
  border-color: var(--mainColor);
  border: 0.15rem solid;
  margin: 0.2rem;
  border-radius: 50%;
  font-size: 1.2rem;
  opacity: 100%;
  box-shadow: none;
  width: 5rem;
  height: 5rem;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
}

.button-select:disabled {
  opacity: 35%;
}

.button-select:disabled:hover {
  opacity: 35%;
}

.button-select:hover {
  opacity: 60%;
}

.tempo {
  background-color: var(--bgColor);
  color: var(--mainColor);
}

.timer-contents {
  font-size: 16vw;
  text-align: center;
  padding-right: 0px;
  padding-left: 0px;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  background-color: var(--bgColor);
  cursor: pointer;
}

.timer-contents-a {
  font-size: 8vw;
  text-align: center;
  padding: 0;
}

.timer-contents-b {
  font-size: 8vw;
  text-align: center;
  color: var(--mainColor);
  padding: 0.3rem;
  margin: 0.2rem;
  border-bottom: 0.1rem dotted var(--mainColor);
  border-radius: 0.1rem;
}

#STWtime {
  padding-right: 0px;
  padding-left: 0px;
}

.ranges {
  width: auto;
  height: 0.15em;
  appearance: none;
  border-radius: 0.2rem;
  background-color: var(--mainColor);
  margin: 0.2rem;
  cursor: pointer;
  max-width: calc(100% - 5rem);
}

.rangesN {
  width: 100%;
  height: 0.15rem;
  appearance: none;
  border-radius: 0.2rem;
  background-color: var(--mainColor);
  margin: 0.2rem;
  cursor: pointer;
}

.ranges::-webkit-slider-thumb {
  appearance: none;
  background-color: var(--mainColor);
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  vertical-align: middle;
}

.ranges::-webkit-slider-thumb:hover {
  scale: 1.05;
}

.rangesN::-webkit-slider-thumb {
  appearance: none;
  background-color: var(--mainColor);
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  vertical-align: middle;
}

.rangesN::-webkit-slider-thumb:hover {
  scale: 1.05;
}

.a-contents {
  color: var(--mainColor);
  background-color: var(--bgColor);
  border-radius: 0.5rem;
  padding: 0.2rem;
  margin: 1rem;
  opacity: 100%;
  width: auto;
  font-size: 1rem;
}

.lapdisp {
  height: 30vh;
  max-height: 100vw;
  overflow: scroll;
  margin: 1rem;
  padding: 0.5rem;
  border-radius: 1rem;
}

.touhaba {
  font-family: "Courier New", "Consolas", "monospace";
  font-size: 1rem;
  margin: 0.3rem;
}

.date-contents {
  font-size: 4vw;
  cursor: pointer;
}

.input-tag {
  vertical-align: middle;
  width: 2rem;
  color: var(--mainColor);
  background-color: var(--bgColor);
  border-radius: 1.5rem;
  height: 1rem;
  border: 0.15rem solid;
  padding: 0.3rem;
  margin-right: 0;
  margin: 0.15rem;
  text-align: center;
  font-size: 1rem;
}

.svg-icon {
  width: 2rem;
  height: 2rem;
  padding: 0.3rem;
  margin: 0.3rem;
  vertical-align: middle;
  border: 0.15rem solid;
  border-color: var(--mainColor);
  border-radius: 2rem;
  opacity: 100%;
}

.svg-icon:hover {
  opacity: 60%;
}

.sayu {
  display: flex;
  justify-content: space-between;
}

.left {
  display: flex;
  justify-content: center;
  align-items: center;
}

.right {
  display: flex;
  justify-content: center;
  align-items: center;
}
